/**  ------------------------------ element-ui ---------------------------------------  **/
@import "./element-ui";

/**  ------------------------------ main ---------------------------------------  **/
// 自定义类
.nav-padding-top-2 {
  --at-apply: "sm:pt-2";
}
.nav-padding-top-6 {
  --at-apply: "sm:pt-6";
}
.nav-padding-top-10 {
  --at-apply: "sm:pt-10";
}

.nav-padding-top-12 {
  --at-apply: "sm:pt-12";
}
.position-c-c {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}
:root {
  --el-box-shadow: rgba(0, 0, 0, 0.2) 2px 6px 26px 0px, rgba(0, 0, 0, 0.2) -2px -6px 26px 0px !important;
  // cubic-bezier(1, -0.155, 0.165, 1.3)
  --animate-cubic: cubic-bezier(0.61, 0.225, 0.195, 1.25);
  --animate-cubic-bount: cubic-bezier(1, -0.155, 0.165, 1.3);
}

// 背景颜色
.bg-mark {
  position: absolute;
  z-index: -99;
  width: 60%;
  height: 60%;
  background:
    radial-gradient(
      104.24% 141.88% at 8.26% 9.64%,
      #b95be6 0%,
      rgb(185 91 230 / 18%) 69.92%,
      rgb(185 91 230 / 0%) 100%
    ),
    radial-gradient(
      103.57% 140.97% at 14.06% 105.21%,
      #f97c59 0%,
      rgb(249 124 89 / 19%) 72.45%,
      rgb(249 124 89 / 0%) 100%
    );
  border-radius: 50%;
  filter: blur(60px);
  transform: translate(50%, -50%);
}

// 文本折叠
@mixin text-overflow($lines) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
}

// 使用循环生成类
@for $i from 1 through 10 {
  .text-overflow-#{$i} {
    @include text-overflow($i);
  }
}

.text-overflow-h {
  @include text-overflow(var(--h));
}
// 渐变背景
.bg-linear {
  background-image: linear-gradient(to right, var(--el-color-primary) 0, transparent 50%);
  -webkit-backdrop-filter: blur(1em);
  backdrop-filter: blur(1em);
  // background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

/**  ------------------------------markdown---------------------------------------  **/

.md-editor-preview {
  a {
    &:hover {
      border: none !important;
    }
    &::after {
      display: none !important;
    }
  }
}

/**  ------------------------------right-menu---------------------------------------  **/

.mx-context-menu {
  --popper-fade-anima-scale: 0.9;
  transform-origin: center top;
  --at-apply: "!border-default-2 dark:!bg-[#111111] !bg-white  animate-[popper-fade-anim_0.15s]";
  .mx-context-menu-items {
    .mx-context-menu-item {
      .mx-item-row {
        --at-apply: "text-color ";
        margin: 4px 2px;
      }
      &:hover .mx-item-row {
        --at-apply: "text-white";
      }
    }
  }

  .mx-context-menu-item-sperator {
    --mx-menu-divider: rgba(132, 132, 132, 0.2);
    background-color: transparent;
  }
  .mx-icon-placeholder {
    i {
      font-size: 0.9em;
      transition: transform 0.2s;
    }
  }
  .mx-context-menu-item {
    --mx-menu-active-backgroud: var(--el-color-primary);
    --mx-menu-hover-backgroud: var(--el-color-primary);
    --mx-menu-open-hover-backgroud: var(--el-color-primary);
    --mx-menu-open-backgroud: #71717188;
    &:hover {
      .mx-icon-placeholder {
        i {
          --at-apply: "light:text-light";
        }
      }
    }
  }

  //在这里覆盖默认css变量的值
  // --mx-menu-backgroud: var(--el-color-primary) !important;
  --mx-menu-active-backgroud: var(--el-color-primary);
  --mx-menu-hover-backgroud: var(--el-color-primary);
  --mx-menu-open-hover-backgroud: var(--el-color-primary);
  --mx-menu-open-backgroud: #71717188 !important;

  // --mx-menu-divider: #d2d2d2;
  // --mx-menu-text: #232323;
  // --mx-menu-hover-text: #fff;
  // --mx-menu-active-text: #fff;
  // --mx-menu-open-text: #fff;
  // --mx-menu-open-hover-text: #fff;
  // --mx-menu-disabled-text: #bbbbbb;
  // --mx-menu-shadow-color: rgba(0, 0, 0, .1);
  // --mx-menu-backgroud-radius: 10px;
  // --mx-menu-shortcut-backgroud: transparent;
  // --mx-menu-shortcut-backgroud-hover: transparent;
  // --mx-menu-shortcut-backgroud-active: transparent;
  // --mx-menu-shortcut-backgroud-open: transparent;
  // --mx-menu-shortcut-backgroud-disabled: transparent;
  // --mx-menu-shortcut-text: #424242;
  // --mx-menu-shortcut-text-hover: #fff;
  // --mx-menu-shortcut-text-active: #fff;
  // --mx-menu-shortcut-text-open: #fff;
  // --mx-menu-shortcut-text-disabled: #a5a5a5;
  // --mx-menu-focus-color: transparent;
  // --mx-menu-border-color: #bbbbbb;
}

// 阴影
.shadow-b {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
}
.shadow-t {
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.05);
}
.shadow-l {
  box-shadow: -1px 0px 4px rgba(0, 0, 0, 0.05);
}
.shadow-r {
  box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.05);
}
